@page "/"

<h3>FLEXBOX</h3>
<h3>justify-content:space-between</h3>
<div class="row" style="height:250px;display:flex;justify-content:space-between">
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
</div>
<h3>display:flex;justify-content:space-around</h3>
<div class="row" style="height:250px;display:flex;justify-content:space-around">
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
</div>

<h3>display:flex;justify-content:flex-start</h3>
<div class="row" style="height:250px;display:flex;justify-content:flex-start">
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
</div>
<h3>display:flex;justify-content:flex-end</h3>
<div class="row" style="height:250px;display:flex;justify-content:flex-end">
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
</div>

<h3>DISTRIBUIR VERTICALMENTE</h3>

<div class="row" style="height:500px">
    <div class="col-4" style="border:solid black 5px;display:flex;align-items:flex-start">

        <div style="height:100px;width:100px;background-color:green;margin:10px">
            <p>display:flex;align-items:flex-start</p>
        </div>
        <div style="height:100px;width:100px;background-color:green;margin:10px"></div>


    </div>
    <div class="col-4" style="border:solid black 5px;display:flex;align-items:center">
        <div style="height:100px;width:100px;background-color:green;margin:10px">
            <p>display:flex;align-items:center</p>
        </div>
        <div style="height:100px;width:100px;background-color:green;margin:10px"></div>



    </div>
    <div class="col-4" style="border:solid black 5px;display:flex;align-items:flex-end">
        <div style="height:100px;width:100px;background-color:green;margin:10px">
            <p>display:flex;align-items:flex-end</p>
        </div>
        <div style="height:100px;width:100px;background-color:green;margin:10px"></div>



    </div>
</div>
<br />
<br />
<br />
<h3>FLEX DIRECTION</h3>
<h3>width:100%;display:flex;flex-wrap:wrap</h3>
<div style="width:100%;display:flex;flex-wrap:wrap">
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>
    <div style="height:100px;width:100px;background-color:green;margin:10px"></div>

</div>
<br />
<br />
<br />
<h3>GRID SIMPLE</h3>
    <div class="row" style="height:500px">
        <div class="col-6" style="border:solid black 3px"></div>
        <div class="col-6" style="border:solid black 3px">
        <div class="row" style="height:250px;border:solid black 3px"></div>
        <div class="row" style="height:250px;border:solid black 3px"></div>
        </div>
    </div>